<!-- HTML for static distribution bundle build -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{app_name}}</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='swagger/swagger-ui.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='swagger/index.css') }}">
</head>

<body>
  <div id="swagger-ui"></div>

  <script src="{{ url_for('static', filename='swagger/swagger-ui-bundle.js') }}"> </script>
  <script src="{{ url_for('static', filename='swagger/swagger-ui-standalone-preset.js') }}"> </script>
  <script>
    window.onload = function() {
  //<editor-fold desc="Changeable Configuration Block">

  // the following lines will be replaced by docker/configurator, when it runs in a docker-container
  window.ui = SwaggerUIBundle({
    url: "{{ url_for('api.schema') }}",
    dom_id: '#swagger-ui',
    deepLinking: true,
    presets: [
      SwaggerUIBundle.presets.apis,
      SwaggerUIStandalonePreset
    ],
    plugins: [
      SwaggerUIBundle.plugins.DownloadUrl
    ],
    layout: "StandaloneLayout"
  });

  //</editor-fold>
};

  </script>
</body>

</html>