{% from "helpers/_viewhelpers.html" import render_publication %}
<div class="border rounded p-3">
    <dl class="row">
        <dt class="col-sm-3 mb-4"><h5>Tools</h5></dt>
        <dd class="col-sm-9 mb-4"><small class="text-muted">Tools used in the publication</small></dd>
        {% if entry.tools_used %} 
        <dt class="col-sm-3"></dt>
        <dd class="col-sm-9 mb-4">
            {% for tool in entry.tools_used %}
                <p>{{ render_publication(tool) }}</p>
            {% endfor %}
        </dd>
        {% endif %}
    </dl>
</div>